body {
	margin: 10px;
	background-color: slategrey;
	font-family: sans-serif;
}

section {
	
}
#titolo {
	height: 30px;
	background-color: lightgrey;
	border: 3px solid darkblue;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

strong.titolo {
	color: darkslateblue;
	font-size: x-large;
	margin: 10px;
}

div.indice {
	background-color: lightgrey;
	border: 3px solid darkblue;
	border-radius: 10px;
	height: 30px;
	margin: 10px;
	text-align: left;
	padding:  10px;
}

strong.el_indice {
	color: darkslateblue;
	font-size: 20px;
	margin: 10px;
	padding-right: 2px;
}

.flex-container {
	display: flex;
	justify-content: space-between;
	height: 360px;
	margin: 10px;
}

div.dati {
	background-color: lightgrey;
	border: 3px solid darkblue;
	border-radius: 10px;
	width: calc(60% - 3px);
	height: 330px;
	margin: 0px;
	margin-top: 5px;
	font-size: large;
	padding: 5px;
}

div.foto {
	background-color: lightgrey;
	border: 3px solid darkblue;
	border-radius: 10px;
	width: calc(40% - 3px);
	height: 330px;
	margin: 2px;
	margin-top: 5px;
	padding: 5px;
}

.fotografia {
	display: block;
	padding: 2px;
	text-align: center;
}

strong.sottotitolo {
	color: darkslateblue;
	margin: 10px;
	font-size: 25px;
}

.elementoCV {
	margin: 10;
	font-size: medium;
	text-align: justify;
}

div.sezione {
	background-color: lightgrey;
	border: 3px solid darkblue;
	border-radius: 10px;
	margin: 10px;
	font-size: large;
	text-align: justify;
	padding: 15px;
}

.elementResearch {
	font-size: large;
	margin: 10px;
}

.titoloSezione {
	background-color: lightblue;
	color: darkblue;
	border: 3px solid darkblue;
	border-radius: 10px;
	padding: 10px;
	font-size: x-large;
	margin: 10px;
}

strong.liste {
	color: darkblue;
	font-size: 20px;
	margin: 20px;
	padding: 5px;
	text-align: justify;
}

.elementi_lista {

	margin:  10px;
	font-size: 20px;
}

.insegnamenti {
	margin:  10px;
	font-size: medium;
}

.note {
	margin:  10px;
	font-size: medium;
	padding-left:  10px;
}
