<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>  
	    <meta charset="ISO-8859-1" />
	    <title>Catering SRL - Operazioni</title>
		<link rel="stylesheet" href="main.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head> 
	<body> 
		<header> 
			<div id="titolo"><strong class="titolo">CATERING SRL: OPERAZIONI</strong></div>
		</header>
	    
		<div class="itemMain">
			<a th:href="@{/buffetForm}">Inserimento nuovo buffet</a>
		</div>
		<div class="itemMain">
			<a th:href="@{/buffets}">Elenco buffets</a>
	   	</div>
		<div class="itemMain">
			<a th:href="@{/chefForm}">Inserimento nuovo chef</a>
		</div>
		<div class="itemMain">
			<a th:href="@{/chefs}">Elenco chefs</a>
	   	</div>
		<div class="itemMain">
			<a th:href="@{/piattoForm}">Inserimento nuovo piatto</a>
		</div>
		<div class="itemMain">
			<a th:href="@{/piatti}">Elenco piatti</a>
	   	</div>
		<div class="itemMain">
			<a th:href="@{/ingredienteForm}">Inserimento nuovo ingrediente</a>
		</div>
		<div class="itemMain">
			<a th:href="@{/ingredienti}">Elenco ingredienti</a>
	   	</div>	
	</body>
</html>