<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>  	
		<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="ingrediente.css"/>    
		<title>Dettagli ingrediente</title>
	</head> 
	<body>
		<header> 
			<div id="titolo"><strong class="titolo"> Dettagli ingrediente</strong></div>
		</header>
	
		<div class="sezione">
			<p class="desc">
				<span >Nome ingrediente: </span>
				<span th:text="${ingrediente.nome}">Nome generico</span>
			</p>
			<p class="desc">
				<span>Origine ingrediente: </span>
				<span  th:text="${ingrediente.origine}">Origine generica</span>
			</p>
			<p class="desc">
				<span>Descrizione ingrediente: </span>
				<span  th:text="${ingrediente.descrizione}">Descrizione generica</span>
			</p>
	   	</div>
	
		<div class="sezione">
			<a href="/"><strong class="top">Home</strong></a>
		</div>
	</body>
</html>