<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>  	
	<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="elenco.css"/>    
	<title>Elenco</title>
</head> 

<body>
	<header> 
		<div id="titolo"><strong class="titolo"> Elenco buffet</strong></div>
	</header>
	<ul>
		<li th:each="buffet: ${buffets}">
			<a href="buffet.html" th:href="@{'/buffet' + '/' + ${buffet.id}}"
			   th:text="${buffet.nome}">Buffet</a>
		</li>	   	
	</ul>
	
	

    <footer><a href="/">Home</a></footer>

</body>

</html>