<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>  	
	<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="elenco.css"/>    
	<title>Elenco</title>
</head> 

<body>
	<header> 
		<div id="titolo"><strong class="titolo"> Elenco chef</strong></div>
	</header>
	<ul>
		<li th:each="chef: ${chefs}">
			<a href="chef.html" th:href="@{'/chef' + '/' + ${chef.id}}"
			   th:text="${chef.nome} + ' ' + ${chef.cognome}">Paolo Rossi</a>
		</li>	   	
	</ul>

   <footer><a href="/">Home</a></footer>

</body>

</html>