<!DOCTYPE html>
 
<html xmlns:th="http://www.thymeleaf.org">
	<head>  
	    <meta charset="ISO-8859-1" />
	    <title>Operazioni Catering SRL</title>
	    
		<link rel="stylesheet" href="main.css"/>
		<meta name="viewport"
		content="width=device-width, initial-scale=1">
	</head> 
	 
	
	<body> 
	<header> 
		<div id="titolo"><strong class="titolo"> OPERAZIONI CATERING SRL</strong></div>
	</header>
    
	<div>
    	<p class="itemMain"><a th:href="@{/buffetForm}">
    				<strong>Inserimento nuovo buffet</strong></a></p>
    	<p class="itemMain"><a th:href="@{/chefForm}">
    				<strong>Inserimento nuovo chef</strong></a></p>
    	<p class="itemMain"><a th:href="@{/piattoForm}">
    				<strong>Inserimento nuovo piatto</strong></a></p>
    	<p class="itemMain"><a th:href="@{/ingredienteForm}">
    				<strong>Inserimento nuovo ingrediente</strong></a></p>
	</div>
  
</body>
</html>