<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link href="/css/my-style.css" rel="stylesheet">
	<title>Inserimento persona</title>
</head>

<body>
	<form th:action="@{/persona}" method="POST" th:object="${persona}">
		<div>Nome: <input type="text" th.field="*{nome}"/></div>
		<div>Cognome: <input type="text" th.field="*{cognome}"/></div>
		<div>Eta: <input type="text" th.field="*{eta}"/></div>
		<div><button type="submit">Conferma</button></div>
	</form>
</body>

</html>